.container {
  background-color: #f5f5f5;
}

:global {
  .listTop {
    .listContent {
      color: #333333;
      font-size: 0.36rem;
    }
    .am-list-brief {
      color: #999999 !important;
      font-size: 0.3rem;
    }
    .am-icon {
      width: 1.2rem !important;
      height: 1.2rem !important;
    }
    .am-list-item {
      height: 1.68rem;
      padding-left: 0.24rem !important ;
    }
  }
}
:global {
  .listBottom {
    margin-top: 0.24rem !important;
    .am-list-item {
      height: 0.96rem !important;
    }
    .am-list-content {
      color: #333 !important;
      font-weight: 400;
    }
    .am-list-extra {
      font-weight: 400;
      color: #999999 !important;
      font-size: 0.3rem !important;
    }
  }
}
