.topCardContainer {
  padding: 24px;
  background: #FFFFFF;
  border-radius: 16px;

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;

    .title {
      font-size: 30px;
      font-weight: 500;
      color: #333333;
      line-height: 42px;
    }

    .subTitle {
      font-size: 26px;
      font-weight: 400;
      color: #999999;
      line-height: 37px;
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0 24px;
    }

    .rightImg {
      width: 16px;
      height: 30px;
      flex-shrink: 0;
    }
  }

  .dataContainer {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;

    .dataItem {
      text-align: center;

      .dataImg {
        position: relative;

        .itemImg {
          width: 100%;
          height: 160px;
          border-radius: 8px;
        }

        .isNew {
          position: absolute;
          left: 4px;
          bottom: 8px;
          background: #FF6010;
          border-radius: 4px;
          font-size: 22px;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 30px;
          padding: 0 4px;
        }
      }

      .dataTitle {
        font-size: 30px;
        font-weight: 500;
        color: #333333;
        line-height: 42px;
        padding-top: 8px;
        padding-bottom: 4px;
      }

      .dataAccount {
        font-size: 36px;
        font-weight: 500;
        color: #FF3B30;
        line-height: 50px;
        padding-bottom: 4px;
      }

      .dataSubTitle {
        font-size: 26px;
        font-weight: 400;
        color: #999999;
        line-height: 37px;

      }
    }
  }
}
