.container {
  .header {
    :global {
      .am-search {
        padding: 0 0.24rem !important;
        background: #ffffff;
        .am-search-input {
          border-radius: 30px !important;
          border: 2px solid #1677ff;
          height: 0.6rem !important;
        }
        .am-search-cancel {
          display: none;
        }
      }
    }
  }
  .gridStyle {
    :global {
      .am-list-header {
        font-size: 0.26rem;
      }
      .am-list-body {
        background: #f5f5f5;
        border-bottom: none;
        padding: 0 24px;
        .am-flexbox-item {
          height: 0.8rem !important;
          background-color: #fff;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-bottom: 0.24rem;
          border-radius: 4px;
        }
      }
    }
  }
}
