.container {
  background-color: #f5f5f5;
  .header {
    :global {
      .am-list-item {
        height: 1.68rem;
        .am-list-brief {
          font-size: 0.3rem !important;
          color: #999999;
          font-weight: 400 !important;
        }
        .am-icon{
            width: 1.2rem ;
            height: 1.2rem;
            color: #ddd;
        }
      }
    }
  }

  .gridStyle {
    .gridStyleTop {
      :global {
        .am-grid-text {
          padding-top: 0.1rem;
        }
        .am-grid-item-content {
          height: 108px !important;
        }
        .am-grid-text {
          font-size: 0.5rem !important;
          color: #333333 !important;
        }
      }
    }
    .gridStyleBottom {
      :global {
        .am-grid-text {
          padding-bottom: 0.1rem !important;
        }
        .am-grid-item-content {
          height: 61px !important;
        }
        .am-grid-text {
          font-size: 0.26rem !important;
          font-weight: 400 !important;
          color: #999999 !important;
        }
        .am-grid-item-content {
          padding: 0 !important;
        }
      }
    }
  }
  .listStyleTop {
    :global {
      .am-list-body {
        border: none;
      }
      .am-list-header {
        background-color: white !important;
        color: #333333 !important;
        font-size: 30px !important;
        font-weight: 500 !important;
      }
      .am-grid-icon {
        width: 0.88rem !important;
        height: 0.88rem !important;
        border-radius: .5rem;
      }
    }
  }
  .listStyleBottom {
    :global {
      .am-list-header {
        background-color: white !important;
        color: #333333 !important;
        font-size: 30px !important;
        font-weight: 500 !important;
      }
    }
  }
}
