.container {
  .header {
    width: 100%;
    height: 358px;
    background: #AEAEAE;
    position: relative;

    .headerTitle {
      height: 136px;
      font-size: 54px;
      font-weight: 500;
      color: #FFFFFF;
      line-height: 68px;
      overflow: hidden;
      position: absolute;
      margin-right: 48px;
      top: 184px;
      left: 48px;
    }
  }

  .content {
    padding: 0 48px;

    .contentTitle {
      height: 50px;
      font-size: 36px;
      font-weight: 600;
      color: #333333;
      line-height: 50px;
      margin-top: 40px;
      margin-bottom: 16px;
    }

    .contentIntroduce {
      height: 320px;
      font-size: 36px;
      font-weight: 400;
      color: #333333;
      line-height: 64px;
    }

    .introduceIcon {
      width: 28px;
      height: 38px;
      margin-right: 16px;
    }

    .imgIntroduce {
      height: 42px;
      font-size: 30px;
      font-weight: 400;
      color: #999999;
      line-height: 42px;
    }

    .authorOrigin {
      height: 42px;
      font-size: 30px;
      font-weight: 400;
      color: #1677FF;
      line-height: 42px;
      margin-right: 33px;
    }

    .Copyright {
      height: 96px;
      font-size: 30px;
      font-weight: 400;
      color: #999999;
      line-height: 48px;
    }
  }
}
