.container {
  .header {
    :global {
      .am-list-item {
        height: 168px;
        font-size: 30px !important;
        background: linear-gradient(135deg, #168bff 0%, #1664ff 100%);

        .am-list-content {
          color: #ffffffff !important;
          font-size: 36px !important;
          font-weight: 400;
        }
      }

      .am-icon {
        width: 120px;
        height: 120px;
      }

      .am-list-brief {
        color: #ffffffff !important;
        font-size: 30px !important;
      }
    }
  }
}

.fontStyle {
  :global {
    .am-list-header {
      background: #ffffff;
      font-weight: 500;
      color: #333333;
      font-size: 30px;
    }

    .am-list-body:not(:nth-child(1)) {
      border-top: none !important;
    }

    .am-list-item {
      height: 189px;
    }

    .fontBolder {
      color: #333333 !important;
      font-weight: 500 !important;
      font-size: 30px !important;
    }

    .am-grid-text {
      font-weight: 400;
      font-size: 26px !important;
      color: #9c8d8d !important;
    }
  }
}

.imgStyle {
  :global {
    .am-grid-icon {
      width: 88px !important;
      height: 88px !important;
      border-radius: 50%;
    }
  }
}
