.container {
  background: #ffffff;
  .header {
    width: 100%;
    height: 84px;
    font-size: 30px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #1677ff;
    display: flex;
    justify-content: flex-end;
    span {
      display: block;
      margin-top: 24px;
      margin-right: 24px;
    }
  }
  .steps {
    :global {
      .am-steps-item {
        margin-left: 60px !important;
        &:nth-child(1) .am-steps-item-title {
          color: #1677ff;
        }
        .am-steps-item-content {
          margin-left: 69px !important;
        }
        .am-steps-item-tail::after {
          height: 182%;
          top: -16px;
        }
        .am-steps-item-title {
          width: 570px !important;
          color: #333333;
          font-size: 34px !important;
          font-weight: 400;
        }
        .am-steps-item-description {
          width: 550px !important;
          font-size: 30px !important;
          color: #999 !important;
          font-weight: 400;
        }
      }
    }
    .dot {
      width: 16px;
      height: 16px;
      position: relative;
      top: -2px;
      left: 2px;
    }
  }
  .infoList{
      :global{
          .am-list-extra{
              width: 302px !important;
          }
      }
  }
}
