.center {
  padding: 20px 20px;
}
.center .headBtns {
  width: 720PX;
  height: 216PX;
  background-color: #FFFFFF;
  border-radius: 16px;
}
.center .headBtns .btn {
  width: 202px;
  height: 72px;
  margin: 24px 0 0 0 ;
  background-color: #F5F5F5;
  font-size: 26px;
  border-radius: 4px;
  color: #333333;
  line-height: 72px;
}
