.container {
  .headerResult {
    :global {
      .am-result {
        padding-top: 0.74rem;
        padding-bottom: 0.64rem;
        .am-result-pic {
          width: 1.48rem !important;
          height: 2rem !important;
        }
        .am-result-message {
          margin-top: 0;
          span {
            font-size: 30px;
            font-weight: 400;
            color: #999999;
          }
        }
      }
    }
  }
}
