.container {
  .searchBar {

    :global {
      .am-search {
        background-color: rgb(22, 120, 255);
        padding: 14px 24px;
        width: 100%;
      }

      .am-search-input {
        padding: 22px 0 24px 0;
        background: transparent;
        border-radius: 30px;
        border: 2px solid #fff;
        height: 60px;
      }

      .am-search-cancel {
        color: #fff;
      }

      .am-search-synthetic-ph {
        text-align: left;
        padding-left: 30px;
      }

      .am-search-synthetic-ph-placeholder {
        color: #ccc;
      }

      .am-search-value {
        color: #fff;
      }
    }
  }

  .headerGrid {
    padding: 24px;
    background-color: #fff;
    display: grid;
    grid-gap: 13px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    .gridItem {
      display: flex;
      flex-direction: column;
      align-items: center;

      .gridImg {
        width: 88px;
        height: 88px;
        border-radius: 50%;
      }

      .gridText {
        width: 100%;
        font-size: 26px;
        font-weight: 400;
        color: #333333;
        line-height: 37px;
        padding-top: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  }

  .listContainer {
    padding: 24px;

    .renderHeader {
      font-size: 30px;
      font-weight: 500;
      color: #333333;
      line-height: 42px;

    }

    :global {

      .am-list-header {
        padding: 24px;
      }

      .am-list-item {
        padding-left: 24px;
        padding-right: 24px;
        background-color: transparent;
      }

      .am-list {
        border-radius: 16px;
        background-color: #fff;
      }

      .am-list-line {
        padding-right: 0;
      }

      .am-list-content {
        padding-top: 24px;
        padding-bottom: 24px;
      }

      .am-list-body {
        border-bottom: none;
        border-top: 1PX solid #eee;
        border-radius: 0 0 16px 16px;
      }

      .am-list-body div:not(:last-child) .am-list-line {
        border-bottom: 1PX solid #eee;
      }
    }

    .listItem {
      display: flex;

      .listImg {
        width: 160px;
        height: 160px;
        flex-shrink: 0;
        border-radius: 8px;
      }

      .itemContainer {
        padding-left: 24px;
        flex: 1;

        .title {
          font-size: 30px;
          font-weight: 500;
          color: #333333;
          line-height: 42px;
          white-space: normal;
          padding-bottom: 8px;
        }

        .tipList {
          display: flex;
          align-items: center;
          font-size: 26px;
          font-weight: 400;
          color: #999999;
          line-height: 37px;

          .tipItem {
            padding-right: 8px;
          }

          .line {
            width: 2px;
            height: 20px;
            background-color: #999;
            margin-right: 8px;
          }
        }

        .integral {
          font-size: 22px;
          font-weight: 400;
          color: #FF6010;
          line-height: 30px;
          background: #FFECE3;
          border-radius: 4px;
        }

        .sale {
          font-size: 26px;
          font-weight: 400;
          color: #999999;
          line-height: 37px;
          margin-left: 9px;
        }

        .account {
          font-size: 36px;
          font-weight: 500;
          color: #FF3B30;
          line-height: 50px;
          padding-top: 8px;
        }
      }
    }
  }
}
